[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[7C90FD2790FCE892]
row=2
col=16

[F42CE1D02CE18DC4]
row=1
col=16

[2FC6B0884AC0AE38]
row=0
col=16

[Trash]
row=3
col=16

[/]
row=4
col=16

[/home/tiger]
row=5
col=16

